.logoContainer {
  background: #7C5DFA;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  position: relative;
};

.logoShadow {
  background: #9277FF;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 20px 0;
}

.logo {
  width: 40px;
  z-index: 1;

}