body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
  letter-spacing: -1px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  letter-spacing: -0.63px;
  font-weight: bold;
}
h3 {
  font-size: 12px;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-weight: 500;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
